@import 'foundation';
@import 'fonts';

$font-face-headline-black: romain_bp_headline_blackblack, serif;
$font-face-body: Georgia, serif;

$section-padding: 4em;

$color-heading: #fff;
$color-body: #fff;

$font-size-xl: 60pt;
$font-size-l2: 40pt;
$font-size-l: 20pt;
$font-size-body: 17pt;
$font-size-s: 12pt;

html, body {
  height: 100%;
  font-size: $font-size-body;
  font-family: $font-face-body;
  color: $color-body;
}

.section {
  position: relative;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.section--intro {
  height: 683px;
}


.section--informal-economy {
  height: 639px;
}

.section__heading {
  @include grid-row;
  @include grid-column(12);
  position: relative;
}

.section__heading--map {
  width: 50%;
  border-top: 1px solid $color-heading;
  border-bottom: 1px solid $color-heading;
  font-size: $font-size-l;
  padding-left: 0;
  padding-right: 0;
}

.section__inner {
  @include grid-row;
  height: 100%;
  background-size: cover;
}

@mixin map-vectors() {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.section__inner--map {
  text-align: left;
  padding-left: $section-padding;
  padding-right: $section-padding;
}

.section__inner--map > svg {
  @include map-vectors();
}

.distance-label {
  // HACK: Hide by default
  display: none;

  margin-left: auto;
  margin-right: auto;
  color: $color-body;
  top: 400px;
  left: 50%;
  font-size: $font-size-xl;
  text-align: center;
  position: absolute;
  font-family: $font-face-headline-black;
}

// HACK: Show in distance slide
.section--distance {
  .distance-label {
    display: block;
  }
}


.section__inner--intro,
.section__inner--highway {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center; 

  text-align: center;
  flex-direction: column;
}

.section__inner--intro {
  justify-content: flex-end;

  background-position-y: -180px;
  background-repeat: no-repeat;
}

.section__inner--highway {
  justify-content: center;
  padding-left: $section-padding;
  padding-right: $section-padding; 
}

.section__inner--context {
  text-align: left;
  padding: $section-padding;
}

.heading {
  font-family: $font-face-headline-black;
}

.heading-pictogram {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.section__heading__text {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  // HACK
  padding-top: 10px;
}

@mixin parallax() {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin parallax-layer() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin parallax-layer-base() {
  transform: translateZ(0);
}

@mixin parallax-layer-back() {
  transform: translateZ(-1px);
}

.parallax {
  @include parallax();
}

.section--map {
  height: 100vh;
  width: 100vw;
}

.section--map-layers {
  width: 100vw;
  height: 100vh;
  // HACK
  //top: 683px;
}

.section__inner--map-layers {
  //position: fixed;
  background-image: url('../img/map-background.jpg');
}


.section__inner--distance,
.section__inner--schools-istabl-antwar,
.section__inner--schools-masakin-uthman {
  svg:nth-child(3),
  svg:nth-child(4),
  svg:nth-child(5) {
    display: none;
  }
}

.section__inner--distance,
.section__inner--healthcare-istabl-antwar,
.section__inner--healthcare-masakin-uthman {
  svg:nth-child(2), 
  svg:nth-child(4),
  svg:nth-child(5) {
    display: none;
  }
}

.section__inner--schools-istabl-antwar,
.section__inner--schools-masakin-uthman {
  svg circle.st0 {
    fill: #fff;
  }

  svg circle.st1 {
    fill: #EB5B45;
  }
}

.section__inner--healthcare-istabl-antwar,
.section__inner--healthcare-masakin-uthman {
  svg circle.st0 {
    fill: #EB5B45;
  }
  svg circle.st1 {
    fill: #fff;
  }
}

.section--same-problems-istabl-antwar,
.section--same-problems-masakin-uthman {
  // HACK
  height: 820px;
}


.section__inner--distance,
.section__inner--same-problems-istabl-antwar,
.section__inner--same-problems-masakin-uthman {
  // HACK: Override default size because there's no icon and it looks weird
  .section__heading {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    width: 35%;
  }

  .section__heading__text {
    width: 100%;
  }
}

.section__inner--same-problems-istabl-antwar {
  svg:nth-child(1) path:last-child {
    display: none;
  }

  svg:nth-child(2),
  svg:nth-child(3),
  svg:nth-child(5) {
    display: none;
  }
}

.section__inner--same-problems-masakin-uthman {
  svg:nth-child(2),
  svg:nth-child(3),
  svg:nth-child(4) {
    display: none;
  }
}


.map-narrative {
  position: absolute;
  width: 250px;
}

.map-narrative--schools-istabl-antwar,
.map-narrative--healthcare-istabl-antwar,
{
  // TODO: Relative sizes, or render with JavaScript relative to geographic features
  right: 100px; 
  bottom: 210px;
}

.map-narrative--schools-masakin-uthman,
.map-narrative--healthcare-masakin-uthman,
{
  left: 240px; 
  bottom: 5%;
}

.map-narrative__heading {
  padding-top: 0;
  font-size: 18px;
}

.map-narrative__text {
  font-size: 14px;
}


// Introduction

.headline {
  font-family: $font-face-headline-black;
  font-size: $font-size-xl;

  text-align: center;
  margin-left: auto;
  margin-right: auto;

  color: $color-heading;
}

.intro-text {
  width: 60%;
  font-size: $font-size-l;
}

// Highway section

@keyframes animation-scroll-background {
  from { background-position: 100% 0; }
  to { background-position: 0 0; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.section--highway,
.section__inner--highway {
  // HACK: Fixed height to override default of 100%
  height: 500px;
}

.section__inner--highway {
  background-image: url('../img/highway.jpg');
  background-position: 100% 0;
  background-repeat: repeat-x;
}

.section__inner--highway.animated {
  animation: animation-scroll-background 6s linear 1s;
}

.section__inner--highway .bigtext {
  visibility: none;
}

.section__inner--highway.animated .bigtext {
  visibility: visible;
  animation: fadein 10s linear 1s;
}


// Context section

.context-text {
  @include grid-column(6);
  box-sizing: border-box;
}

.stats-wrapper {
  position: relative;
  @include grid-column(6);
  overflow: hidden;
  box-sizing: border-box;
}

.stats {
  @include grid-row();
  position: relative;
  display: block;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
  box-sizing: border-box;
  overflow: hidden;
}

.stat {
  @include grid-column(6);
  //padding: 0.9375rem;
  margin-bottom: 1.875rem;
  box-sizing: border-box;
}

.stat__inner {
  border: 1px solid $color-body;  
  padding: 1rem;
  height: 8em;
}

.stat__value {
  font-size: $font-size-l2;
  font-weight: bold;
}

.stat__label {
  font-size: $font-size-body;
}

// Footer

.footer {
  padding-left: $section-padding;
  padding-right: $section-padding;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer__inner {
  @include grid-row();
}

.footer__inner__left,
.footer__inner__right {
  @include grid-row(2);
}

.footer__inner__right {
  @include grid-col-pos(10);
}

