<section id="{{ section.slug }}" class="section section--{{ section.slug }}">
    <div class="section__inner section__inner--{{ section.slug }}" style="background-image: url({{ section.background_image }})">
        <h2 class="section__heading">{{ section.title }}</h2>
        <div class="context-text">
            {{#each section.text }}
            {{{ this }}}
            {{/each}}
        </div>
        <div class="stats-wrapper">
            <ul class="stats">
                {{#each statistics}}
                <li class="stat">
                    <div class="stat__inner">
                        <div class="stat__value">{{ this.value }}</div>
                        <div class="stat__label">{{ this.label }}</div>
                    </div>
                </li>
                {{/each }}
            </ul>
        </div>
    </div>
</section>
